<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form action="/confirm" method="post">
			<!-- Basic Fields -->
			
			<label>First Name
				<input type="text" name="first_name"><br>
			</label>

			<label>Last Name
				<input type="text" name="last_name"><br>
			</label>

			<label>Email
				<input type="email" name="email"><br>
      </label>

			<label>Twitter Handle
				<input type="text" name="twitter"><br>
    	</label>

			<!-- Address -->

			<label>Street
				<input type="text" name="street"><br>
			</label>

			<label>City
				<input type="text" name="city"><br>
			</label>

			<label>State
				<input type="text" name="state" max="2"><br>
			</label>

			<label>Zip Code
				<input type="text" name="zip"><br>
			</label>

			<!-- Billing Information -->

			<label>Credit Card #
				<input type="text" name="credit_card"><br>
			</label>

			<label>CVC
				<input type="text" name="cvc"><br>
			</label>

			<label>Billing Phone Number
				<input type="phone" name="billing_phone_number"><br>
			</label>

			<label>Expiration Month
				<input type"month" name="expiration_month"><br>
			</label>

			<label>Expiration Year
				<input type="text" name="expiration_year" min="4" max="4"><br>
			</label>

			<label>Type
				<input type="text" name="type"><br>
			</label>

			<!-- Advanced Credit Fields -->

			<label>Billing Street
				<input type="text" name="billing_street"><br>
			</label>

			<label>Billing City
				<input type="text" name="billing_city"><br>
			</label>

			<label>Billing State
				<input type="text" name="billing_state"><br>
			</label>

			<label>Billing Zip Code
				<input type="text" name="billing_zip"><br>
			</label>

			<input type="submit" value="submit">
		</form>
  </body>
</html>
